

<div [style.width.px]='width' [style.height.px]='height'>



  <div id="myDiv" [style.width.px]='width' [style.height.px]='height'
    class="contactInput" contenteditable = true
       (input)="userInput = $event.target.innerText"
       (keyup)="onKeyup($event)"
       (click)="onClickOnDiv($event)" (keydown)="onKeyDelOrBackspace($event)"
       ></div>

  <div class="grabber" (mouseenter)="onMouseenter()" (mouseleave)="onMouseleave()"></div>

</div>
<br><br><br>
<div>
  <button (click)="submit()">submit</button>
</div>
<br><br><br>
<div *ngIf="indicatorForDropdownlist" >
  <div *ngFor="let item of nameListFordisplay; let i = index">
    <div  (mousedown)="onMouseDownSelectname(item)">
      <a href="#" style="cursor:pointer">
        {{item}}</a>
    </div>
  </div>
</div>







<!--<ng-template #dropdown >-->
  <!--<div class="select-menu">-->

    <!--<div *ngIf="!options?.length && showCandidateList">No results found...</div>-->
    <!--<div-->
      <!--*ngFor="let option of options">-->
      <!--<button-->
        <!--[class.active]="isActive(option)"-->
        <!--(click)="select(option)">-->
        <!--{{ option.name }}-->
      <!--</button>-->
    <!--</div>-->


  <!--</div>-->
<!--</ng-template>-->



