<h1>This is a demo for interview! Although there are still a little bugs, yet the core requirements are achieved</h1>

<p>Core Requirements:
  <br>
  Start a new Angular 7 project <br>
  Create an angular component <br>
  Ability to input text similar to a textarea <br>
  Ability to resize textarea inside UI component with mouse interaction <br>
  Ability to use ‘@’ symbol to input a profile name <br>
  Return a list of suggested profile names that matches input <br>
  As you type it’ll narrow down the list of profile names returned <br>
  Select from suggested list <br>
  Selected profile becomes an entity reference of its own within the textarea component <br>
  Ability to continue to input text <br>
  Ability to remove profile name added with keyboard backspace and delete depending on direction of the cursor. When cursor hit the entity reference it’ll focus on then remove the entire profile entity reference if delete or backspace is triggered and not a character a time.
  <br> Ability to save the content in textarea in redux store
  <br>Do not use any component libraries unless
  <br>Angular CDK is allowed</p>

<br><br><br>
<app-main></app-main>
<br><br><br><br><br><br><br><br><br><br>
<app-header></app-header>

<br>
<br>


